---
import Root from "@/layouts/Root.astro";
---

<Root title="Tools">
  <div class="lg:1/2 mx-auto h-full w-11/12 md:w-3/5 sm:w-4/6">
      <div class="my-8">
        <h1 class="text-5xl text-primary">Tools <span class="text-xl text-secondary">that I use</span></h1>
      </div>
      <div class="">
      </div>
  </div>
</Root>
