---
import Default from "@layouts/Default.astro"
import { getCollection } from "astro:content"
import { format } from "date-fns"

const blog = await getCollection("blog");
---

<Default title="Blog">
    <div class="container my-12 space-y-12">
        <h1 class="text-3xl font-semibold">Blog</h1>
        <div class="gap-5" flex="~ col">
            {
                blog.map(it => (
                    <a
                        href={`/blog/${it.id}`}
                        class="p-5 border border-default rounded-lg flex flex-col gap-5 duration-200 justify-start hover:(border-hover bg-gray-200 cursor-pointer)"
                    >
                        <div class="">
                            <p class="text-lg font-semibold">{it.data.title}</p>
                            <p class="text-sm text-muted">
                                {format(it.data.pubDate, "MMMM d, yyyy")}
                            </p>
                        </div>
                        <p class="">{it.data.description}</p>
                    </a>
                ))
            }
        </div>
    </div>
</Default>
