---
import { getCollection } from "astro:content";
import PostItem from "@/components/PostItem.astro";
import Root from "@/layouts/Root.astro";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.date.valueOf() - a.data.date.valueOf(),
);
---

<Root title="Blog">
  <div class="lg:1/2 mx-auto h-full w-11/12 sm:w-4/6 md:w-3/5">
    <div class="mt-12">
      <h1 class="text-primary p-5 text-5xl">Blog</h1>
    </div>
    <div class="flex flex-col gap-5">
      {
        posts.map(({ data, id }) => (
          <PostItem
            title={data.title}
            date={data.date}
            description={data.description}
            link={`/blog/${id}`}
          />
        ))
      }
    </div>
  </div>
</Root>
