:root {
  --bg-100: hsla(0, 0%, 100%, 1);
  --bg-200: hsla(0, 0%, 98%, 1);

  --gray-100: hsla(0, 0%, 95%, 1);
  --gray-200: hsla(0, 0%, 92%, 1);
  --gray-300: hsla(0, 0%, 90%, 1);
  --gray-400: hsla(0, 0%, 92%, 1);
  --gray-500: hsla(0, 0%, 79%, 1);
  --gray-600: hsla(0, 0%, 66%, 1);
  --gray-700: hsla(0, 0%, 56%, 1);
  --gray-800: hsla(0, 0%, 49%, 1);
  --gray-900: hsla(0, 0%, 40%, 1);
  --gray-1000: hsla(0, 0%, 9%, 1);
}

:root.dark {
  --bg-100: hsla(0, 0%, 4%, 1);
  --bg-200: hsla(0, 0%, 0%, 1);

  --gray-100: hsla(0, 0%, 10%, 1);
  --gray-200: hsla(0, 0%, 12%, 1);
  --gray-300: hsla(0, 0%, 16%, 1);
  --gray-400: hsla(0, 0%, 18%, 1);
  --gray-500: hsla(0, 0%, 27%, 1);
  --gray-600: hsla(0, 0%, 53%, 1);
  --gray-700: hsla(0, 0%, 56%, 1);
  --gray-800: hsla(0, 0%, 49%, 1);
  --gray-900: hsla(0, 0%, 63%, 1);
  --gray-1000: hsla(0, 0%, 93%, 1);
}
