:root {
    --bg-100: hsla(0, 0%, 100%, 1);
    --bg-200: hsla(0, 0%, 98%, 1);

    --gray-100: hsla(0, 0%, 95%, 1);
    --gray-200: hsla(0, 0%, 92%, 1);
    --gray-300: hsla(0, 0%, 90%, 1);
    --gray-400: hsla(0, 0%, 92%, 1);
    --gray-500: hsla(0, 0%, 79%, 1);
    --gray-600: hsla(0, 0%, 66%, 1);
    --gray-700: hsla(0, 0%, 56%, 1);
    --gray-800: hsla(0, 0%, 49%, 1);
    --gray-900: hsla(0, 0%, 40%, 1);
    --gray-1000: hsla(0, 0%, 9%, 1);

    --blue-100: hsla(212, 100%, 97%, 1);
    --blue-200: hsla(210, 100%, 96%, 1);
    --blue-300: hsla(210, 100%, 94%, 1);
    --blue-400: hsla(209, 100%, 90%, 1);
    --blue-500: hsla(209, 100%, 80%, 1);
    --blue-600: hsla(208, 100%, 66%, 1);
    --blue-700: hsla(212, 100%, 48%, 1);
    --blue-800: hsla(212, 100%, 41%, 1);
    --blue-900: hsla(211, 100%, 42%, 1);
    --blue-1000: hsla(211, 100%, 15%, 1);

    --green-100: hsla(120, 60%, 96%, 1);
    --green-200: hsla(120, 60%, 95%, 1);
    --green-300: hsla(120, 60%, 91%, 1);
    --green-400: hsla(122, 60%, 86%, 1);
    --green-500: hsla(124, 60%, 75%, 1);
    --green-600: hsla(125, 60%, 64%, 1);
    --green-700: hsla(131, 41%, 46%, 1);
    --green-800: hsla(132, 43%, 39%, 1);
    --green-900: hsla(133, 50%, 32%, 1);
    --green-1000: hsla(128, 29%, 15%, 1);

    --amber-100: hsla(39, 100%, 95%, 1);
    --amber-200: hsla(44, 100%, 92%, 1);
    --amber-300: hsla(43, 96%, 90%, 1);
    --amber-400: hsla(42, 100%, 78%, 1);
    --amber-500: hsla(38, 100%, 71%, 1);
    --amber-600: hsla(36, 90%, 62%, 1);
    --amber-700: hsla(39, 100%, 57%, 1);
    --amber-800: hsla(35, 100%, 52%, 1);
    --amber-900: hsla(30, 100%, 32%, 1);
    --amber-1000: hsla(20, 79%, 17%, 1);
}

:root.dark {
    --bg-100: hsla(0, 0%, 4%, 1);
    --bg-200: hsla(0, 0%, 0%, 1);

    --gray-100: hsla(0, 0%, 10%, 1);
    --gray-200: hsla(0, 0%, 12%, 1);
    --gray-300: hsla(0, 0%, 16%, 1);
    --gray-400: hsla(0, 0%, 18%, 1);
    --gray-500: hsla(0, 0%, 27%, 1);
    --gray-600: hsla(0, 0%, 53%, 1);
    --gray-700: hsla(0, 0%, 56%, 1);
    --gray-800: hsla(0, 0%, 49%, 1);
    --gray-900: hsla(0, 0%, 63%, 1);
    --gray-1000: hsla(0, 0%, 93%, 1);

    --blue-100: hsla(216, 50%, 12%, 1);
    --blue-200: hsla(214, 59%, 15%, 1);
    --blue-300: hsla(213, 71%, 20%, 1);
    --blue-400: hsla(212, 78%, 23%, 1);
    --blue-500: hsla(211, 86%, 27%, 1);
    --blue-600: hsla(206, 100%, 50%, 1);
    --blue-700: hsla(212, 100%, 48%, 1);
    --blue-800: hsla(212, 100%, 41%, 1);
    --blue-900: hsla(210, 100%, 66%, 1);
    --blue-1000: hsla(206, 100%, 96%, 1);

    --green-100: hsla(136, 50%, 9%, 1);
    --green-200: hsla(137, 50%, 12%, 1);
    --green-300: hsla(136, 50%, 14%, 1);
    --green-400: hsla(135, 70%, 16%, 1);
    --green-500: hsla(135, 70%, 23%, 1);
    --green-600: hsla(135, 70%, 34%, 1);
    --green-700: hsla(131, 41%, 46%, 1);
    --green-800: hsla(132, 43%, 39%, 1);
    --green-900: hsla(131, 43%, 57%, 1);
    --green-1000: hsla(136, 73%, 94%, 1);

    --amber-100: hsla(35, 100%, 8%, 1);
    --amber-200: hsla(32, 100%, 10%, 1);
    --amber-300: hsla(33, 100%, 15%, 1);
    --amber-400: hsla(35, 100%, 17%, 1);
    --amber-500: hsla(35, 91%, 22%, 1);
    --amber-600: hsla(39, 85%, 49%, 1);
    --amber-700: hsla(39, 100%, 57%, 1);
    --amber-800: hsla(35, 100%, 52%, 1);
    --amber-900: hsla(39, 90%, 50%, 1);
    --amber-1000: hsla(40, 94%, 93%, 1);
}
