:root {
  --bg-100: hsla(0, 0%, 100%, 1);
  --bg-200: hsla(0, 0%, 98%, 1);

  --gray-100: hsla(0, 0%, 95%, 1);
  --gray-200: hsla(0, 0%, 92%, 1);
  --gray-300: hsla(0, 0%, 90%, 1);
  --gray-400: hsla(0, 0%, 92%, 1);
  --gray-500: hsla(0, 0%, 79%, 1);
  --gray-600: hsla(0, 0%, 66%, 1);
  --gray-700: hsla(0, 0%, 56%, 1);
  --gray-800: hsla(0, 0%, 49%, 1);
  --gray-900: hsla(0, 0%, 40%, 1);
  --gray-1000: hsla(0, 0%, 9%, 1);

  --blue-100: hsla(212, 100%, 97%, 1);
  --blue-200: hsla(210, 100%, 96%, 1);
  --blue-300: hsla(210, 100%, 94%, 1);
  --blue-400: hsla(209, 100%, 90%, 1);
  --blue-500: hsla(209, 100%, 80%, 1);
  --blue-600: hsla(208, 100%, 66%, 1);
  --blue-700: hsla(212, 100%, 48%, 1);
  --blue-800: hsla(212, 100%, 41%, 1);
  --blue-900: hsla(211, 100%, 42%, 1);
  --blue-1000: hsla(211, 100%, 15%, 1);
}

:root.dark {
  --bg-100: hsla(0, 0%, 4%, 1);
  --bg-200: hsla(0, 0%, 0%, 1);

  --gray-100: hsla(0, 0%, 10%, 1);
  --gray-200: hsla(0, 0%, 12%, 1);
  --gray-300: hsla(0, 0%, 16%, 1);
  --gray-400: hsla(0, 0%, 18%, 1);
  --gray-500: hsla(0, 0%, 27%, 1);
  --gray-600: hsla(0, 0%, 53%, 1);
  --gray-700: hsla(0, 0%, 56%, 1);
  --gray-800: hsla(0, 0%, 49%, 1);
  --gray-900: hsla(0, 0%, 63%, 1);
  --gray-1000: hsla(0, 0%, 93%, 1);

  --blue-100: hsla(216, 50%, 12%, 1);
  --blue-200: hsla(214, 59%, 15%, 1);
  --blue-300: hsla(213, 71%, 20%, 1);
  --blue-400: hsla(212, 78%, 23%, 1);
  --blue-500: hsla(211, 86%, 27%, 1);
  --blue-600: hsla(206, 100%, 50%, 1);
  --blue-700: hsla(212, 100%, 48%, 1);
  --blue-800: hsla(212, 100%, 41%, 1);
  --blue-900: hsla(210, 100%, 66%, 1);
  --blue-1000: hsla(206, 100%, 96%, 1);
}
