/** biome-ignore-all lint/complexity/noImportantStyles: This is acceptable */

.prose blockquote {
    border-left: 0.25rem solid var(--gray-500);
    quotes: "\201C" "\201D" "\2018" "\2019";
    font-weight: 500;
    font-style: italic;
}

.prose blockquote p:first-of-type::before {
    content: open-quote;
}

.prose blockquote p:last-of-type::after {
    content: close-quote;
}

.prose :not(pre) > code {
    background-color: var(--gray-300);
    border-radius: 0.25rem;
    padding: 0.2em 0.25em;
}

.prose :not(pre) > code::before {
    content: "";
}

.prose :not(pre) > code::after {
    content: "";
}

.prose h1 {
    font-size: 2.25em;
    margin-top: 0;
    margin-bottom: 0.8em;
    width: fit-content;
}

.prose h2 {
    font-size: 1.5em;
    margin-top: 1em;
    margin-bottom: 1em;
    width: fit-content;
}

.prose h3 {
    font-size: 1.25em;
    margin-top: 1.6em;
    margin-bottom: 0.6em;
    width: fit-content;
}

.prose h4 {
    margin-top: 1.5em;
    margin-bottom: 0.5em;
    width: fit-content;
}

.prose tbody tr:last-child {
    border-bottom-width: 0;
}

.prose :where(tr):not(:where(.not-prose, .not-prose *)):nth-child(2n) {
    background: var(--bg-100) !important;
}

.heading-anchor {
    color: inherit !important;
    text-underline-offset: 5px;
}
