.prose {
  font-size: 1rem;
  line-height: 1.75;
  color: var(--colors-gray-300) !important;
}

.prose blockquote {
  border-left: 0.25rem solid rgba(209, 213, 219, 0.3);
  quotes: "\201C" "\201D" "\2018" "\2019";
  font-weight: 500;
  font-style: italic;
}

.prose blockquote p:first-of-type::before {
  content: open-quote;
}

.prose blockquote p:last-of-type::after {
  content: close-quote;
}

.prose code {
  font-family: var(--font-mono);
}

.prose code::before {
  content: "";
}

.prose code::after {
  content: "";
}
