---
import Logo from "./Logo.astro"
import ThemeToggle from "./ThemeToggle.astro"

type NavbarItem = {
    path: string
    name: string
    icon: string
}

const items: NavbarItem[] = [
    { path: "/", name: "Home", icon: "i-lucide-house" },
    { path: "/blog", name: "Blog", icon: "i-ri-article-line" },
    { path: "/projects", name: "Projects", icon: "i-lucide-lightbulb" },
]

const currentPath = `/${Astro.url.pathname.split("/")[1]}`
---

<header class="bg-base w-full top-0 fixed" border-b="~ default">
    <nav
        class="mx-auto p-5 gap-3 w-11/12 items-center justify-between"
        flex="~ col sm:row"
    >
        <a href="/" aria-label="Home"><Logo /></a>
        <ul class="gap-8 items-center" flex="~ row">
            {
                items.map(it => (
                    <li class="">
                        <a href={it.path} class={`hidden sm:block ${currentPath === it.path ? "line-through" : "hover:line-through"} uppercase`}>
                            {it.name}
                        </a>
                        <a href={it.path} class={`block sm:hidden ${currentPath === it.path ? "text-default" : "text-muted hover:text-default"}`}>
                            <i class={`${it.icon}`} />
                        </a>
                    </li>
                ))
            }
            <li class=""><ThemeToggle /></li>
        </ul>
    </nav>
</header>
