---
import Root from "@/layouts/Root.astro"
---

<Root title="Page Not Found">
  <div class="flex flex-col gap-6 h-screen w-full items-center justify-center">
    <p class="text-5xl text-primary">404 | Page Not Found</p>
    <a href="/" class="text-xl text-link">Go to home</a>
  </div>
</Root>
