---
import Hero from "@components/Hero.vue"
import Default from "@layouts/Default.astro";
---

<Default title="Toby Nguyen" overrideTitle>
    <div class="container-lg">
        <Hero />
    </div>
</Default>
