---
import Badge from "@/components/Badge.astro"
import Root from "@/layouts/Root.astro"
---

<Root>
    <div class="mx-auto mt-12 w-3/4 lg:w-1/2 md:w-3/5">
        <h1 class="text-3xl text-white font-mono hidden sm:block">Toby Nguyen</h1>

        <p class="text-lg text-gray-300/85 mt-8">
            Hi there 👋 I am Toby Nguyen. I am a self-taught web developer.
            I enjoy building websites and sometimes I make Minecraft mods.
        </p>

        <div class="my-5 flex flex-col gap-1">
            <div class="text-gray-300/85 h-full w-full">
                <div class="flex flex-wrap gap-2 h-full w-full items-center">
                    <span class="text-lg text-nowrap">I know:</span>
                    <Badge
                        icon="i-devicon-typescript"
                        text="TypeScript"
                        url="https://github.com/microsoft/TypeScript"
                    />
                    <Badge
                        icon="i-devicon-kotlin"
                        text="Kotlin"
                        url="https://github.com/JetBrains/kotlin"
                    />
                </div>
            </div>
            <div class="text-gray-300/85 h-full w-full">
                <div class="flex flex-wrap gap-2 h-full w-full items-center">
                    <span class="text-lg text-nowrap">I use:</span>
                        <Badge
                            icon="i-devicon-nixos"
                            text="Nix"
                            url="https://github.com/NixOS/nix"
                        />
                        <Badge
                            icon="i-simple-icons-zedindustries"
                            text="Zed"
                            url="https://github.com/zed-industries/zed"
                        />
                        <Badge
                            icon="i-devicon-intellij"
                            text="IntelliJ IDEA"
                            url="https://github.com/JetBrains/intellij-community"
                        />
                </div>
            </div>
        </div>

        <div class="flex flex-col gap-3 w-full">
            <p class="text-lg text-gray-300/85">
                I just finished my high school in this year and I am currently in a gap year. I planned to study Computer Science in university and I am preparing necessary skills before going there.
            </p>
            <p class="text-lg text-gray-300/85">
                Sometimes, I write blog posts about Minecraft, coding, etc. When I am not coding, I enjoy watching anime and movies, playing video games and listening to musics. I also keen on learning new things, so I am currently learning Mathematics (Analysis) and piano.
            </p>
        </div>

        <div class="my-5 flex flex-wrap h-full w-full items-center">
            <div class="flex flex-wrap gap-2 w-full">
                <span class="text-lg text-gray-300/85">You can find me via:</span>
                    <Badge
                        icon="i-carbon-logo-github text-gray-300"
                        text="GitHub"
                        url="https://github.com/tobynguyen27"
                        noBackground
                    />
                    <Badge
                        icon="i-carbon-logo-discord text-gray-300"
                        text="Discord"
                        url="https://discord.com/users/1365300051932352655"
                        noBackground
                    />
                    <Badge
                        icon="i-carbon-logo-x text-gray-300"
                        text="X"
                        url="https://x.com/tobynguyen27"
                        noBackground
                    />
                </div>
                <div class="w-full">
                    <span class="text-lg text-gray-300/85">Or mail me at{" "}
                        <a
                            href="mailto:hi@tobynguyen.dev"
                            class="duration-300 hover:(text-gray-300 underline underline-offset-3)"
                        >
                            hi@tobynguyen.dev
                        </a>
                    </span>
                </div>
            </div>
    </div>
</Root>
