---
import Project from "@components/Project.vue"

import Default from "@layouts/Default.astro"
import { getCollection } from "astro:content"

const projects = await getCollection("project");
---

<Default title="Projects">
    <div class="mx-auto my-12 w-11/12 space-y-12">
        <div class="text-center space-y-2">
            <h1 class="text-3xl font-semibold">My Projects</h1>
            <p class="text-muted">Projects that I created or maintaining.</p>
        </div>
        <div class="gap-5 grid grid-cols-1 lg:grid-cols-3 md:grid-cols-2">
            {projects.map(it => <Project name={it.id} icon={it.data.icon} link={it.data.link} description={it.data.description} client:visible />)}
        </div>
    </div>
</Default>
