---
import ThemeToggle from "./ThemeToggle.astro";
---

<nav class="w-full h-full bg-100">
    <div class="flex flex-col gap-5 sm:gap-0 sm:flex-row py-5 justify-between items-center border-b border-b-gray-400">
        <div class="sm:ml-7">
            <a href="/" class="text-2xl font-mono text-primary">Toby Nguyen_</a>
        </div>
        <div class="sm:mr-7 flex gap-5">
            <a href="/" class="navbar-item">Home</a>
            <a href="/blog" class="navbar-item">Blog</a>
            <a href="/projects" class="navbar-item">Projects</a>
            <a href="https://github.com/tobynguyen27" target="_blank" class="navbar-item"
                ><i class="i-tabler:brand-github"></i></a
            >
            <a href="" class="navbar-item"><i class="i-carbon:rss"></i></a>
            <ThemeToggle />
        </div>
    </div>
</nav>
