---
import dayjs from "dayjs"

interface Props {
    title: string
    date: Date
    description: string
    link: string
}

const { title, date, description, link } = Astro.props
---

<a
  href={link}
  class="p-5 rounded-md flex flex-col w-full duration-300 justify-center hover:(bg-stone-200/50 cursor-pointer dark:bg-stone/15)"
>
    <div class="">
        <p class="text-3xl text-base font-semibold">{title}</p>
    </div>
    <div class="">
        <p class="subtext-base">{description}</p>
    </div>
    <div class="my-3">
        <p class="subtext-base">
            {dayjs(date).format("MMMM D, YYYY")}
        </p>
    </div>
</a>
