---
import dayjs from "dayjs"

interface Props {
    title: string
    date: Date
    description: string
    link: string
}

const { title, date, description, link } = Astro.props
---

<a
    href={link}
    class="p-5 rounded-md flex flex-col w-full duration-300 justify-center hover:(bg-stone/15 cursor-pointer)"
>
    <div class="">
        <p class="text-3xl text-gray-300 font-semibold">{title}</p>
    </div>
    <div class="">
        <p class="text-gray-300/85">{description}</p>
    </div>
    <div class="my-3">
        <p class="text-gray-300/85">
            {dayjs(date).format("MMMM D, YYYY")}
        </p>
    </div>
</a>
