---
export interface Props {
    icon: string
    name: string
    description: string
    url: string
}

const { icon, name, description, url } = Astro.props
---

<a
    href={url}
    target="_blank"
    class="p-5 border rounded-lg h-full w-full duration-300 hover:(bg-stone/15 cursor-pointer)"
>
    <div class="flex flex-inline h-auto items-center">
        <div class="">
            <img
                src={icon}
                class="rounded-md h-28 w-28"
                alt="icon"
            />
        </div>
        <div class="">
            <p class="text-2xl text-white font-semibold ml-5">{name}</p>
        </div>
    </div>
    <div class="h-auto">
        <p class="text-gray-300/85">{description}</p>
    </div>
</a>
