---
export interface Props {
  icon: string;
  name: string;
  description: string;
  url: string;
}

const { icon, name, description, url } = Astro.props;
---

<a
  href={url}
  target="_blank"
  class="hover:(bg-[#EBEBEB] dark:bg-[#1A1A1A]) h-full w-full cursor-pointer rounded-lg border border-transparent p-5 duration-200">
  <div class="flex-inline flex h-auto items-center">
    <div class="">
      <img src={icon} class="h-28 w-28 rounded-md" alt="icon" />
    </div>
    <div class="">
      <p class="text-primary ml-5 text-2xl font-semibold">{name}</p>
    </div>
  </div>
  <div class="h-auto">
    <p class="text-secondary">{description}</p>
  </div>
</a>
