---
export interface Props {
    icon: string;
    name: string;
    description: string;
    url: string;
}

const { icon, name, description, url } = Astro.props;
---

<a
    href={url}
    target="_blank"
    class="hover:(bg-gray-200 border-gray-500) h-full w-full cursor-pointer rounded-lg border border-gray-400 p-5 duration-300">
    <div class="flex-inline flex h-auto items-center">
        <div class="">
            <img src={icon} class="h-28 w-28 rounded-md" alt="icon" />
        </div>
        <div class="ml-5">
            <p class="text-primary text-2xl font-semibold">{name}</p>
        </div>
    </div>
    <div class="h-auto">
        <p class="text-secondary">{description}</p>
    </div>
</a>
