---
export type TagType = "maintainer" | "creator";
export type TagColor = "orange" | "blue";

interface Props {
  type: TagType;
  color: TagColor;
}

const { type, color } = Astro.props;
const capitalizedType = type.charAt(0).toUpperCase() + type.slice(1);

const bgClass =
  color === "orange" ? "bg-amber-200" : color === "blue" ? "bg-blue-200" : "bg-gray-200";

const textClass =
  color === "orange" ? "text-amber-900" : color === "blue" ? "text-blue-900" : "text-gray-900";
---

<div class=`${bgClass} w-fit px-1 p-0.5 rounded-md`>
  <span class=`${textClass}`>{capitalizedType}</span>
</div>
