---
import ProjectItem from "@/components/ProjectItem.astro";
import Root from "@/layouts/Root.astro";

import { getCollection } from "astro:content";

const projects = await getCollection("projects");
---

<Root title="Projects">
    <div class="w-full h-full flex justify-center items-center flex-col gap-5 my-12">
        <h1 class="text-primary text-3xl text-center font-semibold">My Projects</h1>
        <p class="text-secondary text-lg text-center">Projects that I created or maintaining.</p>
        <div class="">
            <a
                href="https://github.com/tobynguyen27"
                target="_blank"
                class="text-secondary border-gray-400 border rounded-md hover:(text-primary cursor-pointer bg-gray-200 border-gray-500) p-2 duration-200">
                <i class="i-tabler-brand-github"></i>
                <span>GitHub</span>
            </a>
        </div>
    </div>
    <div class="grid h-full w-11/12 mx-auto grid-cols-1 place-items-center gap-5 md:grid-cols-2 lg:grid-cols-3">
        {
            projects.map((project) => (
                <ProjectItem
                    icon={project.data.icon}
                    name={project.data.id}
                    description={project.data.description}
                    url={project.data.link}
                />
            ))
        }
    </div>
</Root>
