---
import type { CollectionEntry } from "astro:content"
import dayjs from "dayjs"
import Root from "./Root.astro"
import "@/styles/markdown.css"

type Props = CollectionEntry<"blog">["data"]

const { title, description, date, readTime } = Astro.props;
---

<Root title={title} description={description} overrideTitle>
    <div class="mx-auto p-3 max-w-fit sm:py-12">
        <div class="">
            <div class="p-6 border border-[#EAEAEA] rounded-md lg:p-18 md:p-12 sm:p-8 dark:border-[#2E2E2E]">
                <p class="text-4xl text-primary font-semibold text-center lg:text-5xl">{title}</p>
                <div class="pt-2 flex w-full justify-between">
                  <p class="text-lg text-secondary flex gap-1 items-center justify-center"><i class="i-carbon-time" />{readTime} min read</p>
                  <p class="text-lg text-secondary">{dayjs(date, "YYYY-MM-DD").format("MMMM D, YYYY")}</p>
                </div>
                <article class="font-sans mt-8 prose prose-gray prose-a:(text-[#0067D6] no-underline dark:text-[#52A9FF]) prose-code:font-mono lg:mt-16 prose-td:border-gray-300/95 prose-th:border-gray-300/95 dark:prose-white dark:prose-td:border-gray-300/30 dark:prose-th:border-gray-300/30 dark:prose-tr:bg-black hover:prose-a:(underline underline-offset-3)">
                  <slot />
                </article>
            </div>
            <div class="mx-auto mt-8 flex flex-col">
                <a href="/blog" class="text-lg text-link w-fit">
                  <span>{">"} cd /blog</span>
                </a>
                <a href="/" class="text-lg text-link w-fit">
                  <span>{">"} cd /home</span>
                </a>
            </div>
        </div>
    </div>
</Root>
