---
import type { CollectionEntry } from "astro:content"
import dayjs from "dayjs"
import Root from "./Root.astro"
import "@/styles/markdown.css"

type Props = CollectionEntry<"blog">["data"]

const { title, date, readTime } = Astro.props;
---

<Root title={title} override>
    <div class="mx-auto p-3 max-w-fit sm:py-12">
        <div class="">
            <div class="p-6 border border-gray-300/30 rounded-md lg:p-18 md:p-12 sm:p-8">
                <p class="text-4xl text-white font-semibold text-center lg:text-5xl">{title}</p>
                <div class="pt-2 flex w-full justify-between">
                  <p class="text-lg text-gray-300/70 flex gap-1 items-center justify-center"><i class="i-carbon-time" />{readTime} min read</p>
                  <p class="text-lg text-gray-300/70">{dayjs(date, "YYYY-MM-DD").format("MMMM D, YYYY")}</p>
                </div>
                <div class="mt-8 prose lg:mt-16">
                    <article class="font-sans w-full">
                        <slot />
                    </article>
                </div>
            </div>
            <div class="mx-auto mt-8 flex flex-col">
                <a href="/blog">
                    <button class="group text-xl text-gray-300/80 rounded-md duration-300 hover:(text-white cursor-pointer)">
                        <span class="duration-300 group-hover:(underline underline-offset-4)">{">"} cd /blog</span>
                    </button>
                </a>
                <a href="/">
                        <button class="group text-xl text-gray-300/80 rounded-md duration-300 hover:(text-white cursor-pointer)">
                        <span class="duration-300 group-hover:(underline underline-offset-4)">{">"} cd /home</span>
                    </button>
                </a>
            </div>
        </div>
    </div>
</Root>
