---
import Head from "@/components/base/Head.astro";
import Footer from "@/components/Footer.astro";
import Navbar from "@/components/Navbar.astro";

import "@/styles/global.css";

interface Props {
    title: string;
    description: string;
    overrideTitle?: boolean;
    pubDate?: string;
}

const { title, description, overrideTitle, pubDate } = Astro.props;
---

<html lang="en">
    <head><Head {title} {description} {overrideTitle} {pubDate} /></head>
    <body class="bg-200">
        <Navbar />
        <slot />
        <Footer />
    </body>
</html>
